@import '~antd/dist/antd.css';

.app-container {  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  text-align: center;
  align-items: center; 
  flex-flow: column;
  height: 100%;
  width: 70%;
}

@media (max-width: 900px) {
  .app-container {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    
    -webkit-flex-flow: column;
    flex-flow: column;
    text-align: center;
    align-items: center; 
    height: 100%;
    width: 90%;
  }

}

.header {
  width: 150%;
  height: 100px;
  background: #68A5B9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;  
  justify-content: space-around;
}

.ant-card {
  margin-bottom: 10px;
}

.movie-item {
  display: flex;
  flex-flow: row;
}

.detail-panel {
  width: 500px;  
  margin-block-start: 10px;
  background: white;  
}