@import '~antd/dist/antd.css';

.main-container {  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  text-align: center;
  align-items: center; 
  flex-flow: column;
  height: 100%;
  width: 1000%;
}

.app-container {  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  text-align: center;
  align-items: center; 
  flex-flow: column;
  height: 100%;
  width: 60%;
}

@media screen 
  and (min-width: 900px) 
  and (max-width: 1600px)  {
     .app-container {  
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;  
        
        text-align: center;
        align-items: center; 
        flex-flow: column;
        height: 100%;
        width: 80%;
      }
  }

@media (max-width: 900px) {
  .app-container {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    
    text-align: center;
    align-items: center; 
    flex-flow: column;
    height: 100%;
    width: 90%;
  }
}

.header {
  width: 100%;
  height: 100px;
  background: #68A5B9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;  
  justify-content: space-around;  
}

.ant-card {
  margin-bottom: 10px;
  transition: 0.5s;
}

.movie-item {  
  display: flex;    
  flex-direction: row;  
  background-color: #fff;  
  min-width: 480px;  
  min-height: 280px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.image-content {
  max-width: 185px;  
  height: 280px; 
  margin-right: 10px;
}

.image-content img {
  max-width: 185px;  
  height: 280px; 
}

.movie-detail {
  max-width: 290px;
}

.overview {
  word-wrap: break-word;
  white-space: normal;
  color: #4d4d4d;
  margin-top: 20px;  
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;  
  text-align: start;
}