@charset 'utf-8';
@import url(//fonts.googleapis.com/css?family=Raleway);
@import '~antd/dist/antd.css';

html,
body {
  background-color: #F4F4F4;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  font: serif;
  font-family: 'Raleway', serif;  
  margin: 0px;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}